* {
  padding: 0;
  margin: 0;
}
body {
  color: #797979;
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.container {
  padding: 0 50px 50px 50px;
  display: flex;
}
.blog {
  display: block;
  padding-top: 50px;
  padding-right: 50px;
}
.blog-text > h1 {
  color: black;
}
.blog-text > h2 {
  color: #313131;
  padding-bottom: 10px;
  padding-top: 40px;
}
.blog-text > p {
  font-weight: 55px;
  line-height: 25px;
}
.articles {
  position: sticky;
  top: 0;
  height: 100%;
}
.articles .otherblogs {
  padding-bottom: 50px;
}
.articles > header {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}
